body,
html {
    padding: 0;
    margin: 0;
}

* {
    font-family: Inter;
}

.container {
    width: 1024px;
    position: relative;
    margin: auto;
}

#header {
    height: 475px;
    background-color: #303030
}

h1 {
    margin: 0;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: -1px;
    height: 72px;
    padding-top: 206px;
    color: #fff
}

.subtitulo {
    color: #fff;
}

.tabela {
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.tabela .item {}

.tabela .numero {
    font-size: 24px;
    font-weight: 600;
}

#segundo-resumo .tabela {
    display: grid;
    gap: 10%;
    align-items: center;
    grid-template-columns: 55% 35%
}

#segundo-resumo img {
    width: 100%
}

#segundo-resumo p {
    font-weight: 300;
    line-height: 20px;

}

#formulario {
    padding-top: 50px;
    height: 350px;
    background-color: #303030
}

#formulario h2 {
    text-align: center;
    color: #fff
}

#formulario form {
    text-align: center;
}

#formulario input {
    background-color: #fff;
    padding: 15px;
    border: none;
    border-radius: 5px;
    margin: 15px 0px;
}

button {
    cursor: pointer;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
    transition: 0.1s;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: #C07212;
    color: #fff;
    margin-top: 20px;
    font-weight: 700;

}

button:hover {
    padding: 15px 45px;
    transform: scale(1.05);
}